
html
  head
    title ! editor
    meta(charset='utf-8')
    link(rel='stylesheet', href='editor.css')
    link(rel='stylesheet', href='page.css')
    script(defer, src='../bower_components/zepto/zepto.js')
    script(defer, src='editor.js')
    script(defer, src='main.js')
  body
