
.editor-with-link
  min-width 200px
  min-height 30px
  display inline-block
  position relative

  box-sizing border-box
  -moz-box-sizing border-box

  *
    box-sizing border-box
    -moz-box-sizing border-box

  .link-empty
    color gray
    position absolute
    top 0
    z-index 1

  .link-views
    position absolute
    top 0
    width 100%
    min-height 30px
    padding 5px 4px
    word-break break-word
    font-size 14px
    font-family Helvetica, Arial, sans-serif
    white-space pre-wrap

  .link-editor
    outline none
    border none
    resize none
    z-index 3

  .link-viewer
    padding-bottom 40px
    z-index 2

    a
      color blue
      text-decoration none