
.editor-with-link
  min-width 200px
  min-height 30px
  display inline-block
  position relative

  box-sizing border-box
  -moz-box-sizing border-box

  *
    box-sizing border-box
    -moz-box-sizing border-box

  .link-views
    width 100%
    min-height 30px
    padding 5px 4px
    word-break break-word
    font-size 14px
    font-family Helvetica, Arial, sans-serif

  .link-editor
    position absolute
    top 0px
    outline none
    border none
    resize none

  .link-viewer
    padding-bottom 40px

    a
      color blue
      text-decoration none